<div data-ng-controller="plugin-HelloWorldWidget.controllers.stylerController">
    <div class="settings-pane-host">
		<div class="pane-row">
			<div class="pane-row-title">Text Align</div>
			<div class="positions-holder">

				<!-- Left Align option -->
				<div data-ng-class="{ selected: model.textAlign == 'left'}" 
					 data-ng-click="setStyle('textAlign', 'left')" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.textAlign == 'left'}"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">Left</div>
				</div>

				<!-- Center Align option -->
				<div data-ng-class="{ selected: model.textAlign == 'center'}" 
					 data-ng-click="setStyle('textAlign', 'center')" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.textAlign == 'center'}"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">Center</div>
				</div>

				<!-- Right Align option -->
				<div data-ng-class="{ selected: model.textAlign == 'right'}" 
					 data-ng-click="setStyle('textAlign', 'right')" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.textAlign == 'right'}"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">Right</div>
				</div> 
			</div>
		</div>
	</div>
</div>